@charset "UTF-8";
img {
    max-width: 100%;
  }
  
html {
font-size: 62.5%;
}
.sp {
display: none !important;
}
.inner {
    margin: 0 auto;
    max-width: 1100px;
    box-sizing: border-box;
}

@media (max-width: 1100px) {
 .inner {
      max-width: 95%;
    }
  }
  @media (max-width: 768px) {
    .pc {
      display: none !important;
    }
    .sp {
        display: block !important;
      }
    .inner {
        max-width: 95%;
    }
  }

